* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
}

.container {
    background-color: #fff;
    padding: 25px;
    border-radius: 10px;
    width: 400px;
    height: 300px;
}

.dropdown {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.select-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid lightgrey;
    padding: 7px;
    border-radius: 7px;
}

.select-container img {
    width: 30px;
}