/* 
.card:nth-child(1) {z-index: 3; transform: translateY(0px) scale(1); opacity: 1;}
.card:nth-child(2) {z-index: 2; transform: translateY(10px) scale(0.98); opacity: 0.8;}
.card:nth-child(3) {z-index: 1; transform: translateY(20px) scale(0.96); opacity: 0.6;} */